// 1. Your custom variables and variable overwrites.

// Background:

$global-background:                              #e6dfdb;

$global-muted-background:                        #f8f8f8 !default;
$global-primary-background:                      #D32F2F !default;
$global-secondary-background:                    #222 !default;
$global-beige-background:						 $global-background;

$global-life-base: #c71010;
$global-life-glow: #850909;
$global-favor-base: #03A9F4;
$global-favor-glow: #00fff3;

$global-success-background:                      #32d296 !default;
$global-warning-background:                      #faa05a !default;
$global-danger-background:                       #f0506e !default;

// Used in grid, column, container, align, card, padding
$global-gutter:                                  30px !default;
$global-small-gutter:                            15px !default;
$global-medium-gutter:                           40px !default;
$global-large-gutter:                            70px !default;

// Radius
$global-radius:                     			 30px;
$global-radius-xs:                     			 round($global-radius / 5);
$global-radius-s:                     			 round($global-radius / 3);
$global-radius-m:                     			 round($global-radius / 1.7);
$global-radius-l:                     			 round($global-radius * 2);
$border-rounded-border-radius:                   $global-radius-m;

$global-font-family:                             'Alegreya Sans', sans-serif;
$global-font-size:                               18px !default;
$base-heading-font-family:                       'Old Fenris',Times New Roman,serif;


// Card
$card-default-background:						 $global-beige-background;

// Progress
$progress-background:                            #d3baba;
//$progress-background:                            linear-gradient(90deg, rgba(158,153,136,1) 0%, rgba(215,207,183,1) 100%);
//$progress-bar-background:                        linear-gradient(90deg, rgba(205,163,32,1) 0%, rgba(255,222,111,1) 100%);

// Modal
$modal-dialog-background:                        $global-beige-background;
$modal-dialog-width:                             800px !default;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
//@import url('https://db.onlinewebfonts.com/c/ce7ee1905f939d4e0f4cfcb3470c4d4e?family=Old+Fenris');

@font-face {
	font-family: "Old Fenris";
    src: url("//db.onlinewebfonts.com/t/ce7ee1905f939d4e0f4cfcb3470c4d4e.eot"); /* IE9*/
    src: url("//db.onlinewebfonts.com/t/ce7ee1905f939d4e0f4cfcb3470c4d4e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("//db.onlinewebfonts.com/t/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff2") format("woff2"), /* chrome firefox */
    url("//db.onlinewebfonts.com/t/ce7ee1905f939d4e0f4cfcb3470c4d4e.woff") format("woff"), /* chrome firefox */
    url("//db.onlinewebfonts.com/t/ce7ee1905f939d4e0f4cfcb3470c4d4e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("//db.onlinewebfonts.com/t/ce7ee1905f939d4e0f4cfcb3470c4d4e.svg#Old Fenris") format("svg"); /* iOS 4.1- */
}


// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.


// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

// NUXT transition
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

// Backgrounds
.uk-section-dark-beige {
	background-color: #d1c9c5;
}
.uk-background-success {
	background-color: $global-success-background;
	* {
		color: #fff;
	}
}
.uk-background-danger {
	background-color: $global-danger-background;
	* {
		color: #fff;
	}
}

// Navbar
#MainNav {
	box-shadow: 0 4px 10px rgba(0,0,0,0.30);
	z-index: 1;
}
.uk-logo {
	font-family: $base-heading-font-family;
	font-variant: small-caps;
	font-size: 1.7rem;
}

// Buttons
.uk-button {
	border-radius: $global-radius-xs;
	font-family: $base-heading-font-family;
	&.uk-button-large {
		font-size: 1.3rem;
	}
	&.uk-button-game {
		background: linear-gradient(180deg, rgba(164,19,19,1) 0%, rgba(211,47,47,1) 52%, rgba(201,25,25,1) 54%, rgba(111,16,16,1) 100%);
		border: solid 1px #000;
		box-shadow:
		inset 0 2px 2px rgba(#fff, 0.3),
		inset -2px -2px 2px rgba(#000, 0.4),
		inset 0 0 12px rgba(#000, 0.7),
		0 0 0 3px #d3b445,
		0 0 0 4px #000,
		0 3px 7px rgba(#000, 0.1),
		0 5px 10px rgba(#000, 0.2)
		;
		text-shadow: 0 2px 3px rgba(#000, 0.8);
		border-radius: 2px;
		filter: brightness(0.8) contrast(1.1);
		&:hover {
			filter: brightness(1) contrast(1);
		}
	}
	&.uk-button-action {
		background-color: blue;
		background: linear-gradient(180deg, rgba(164,19,19,1) 0%, rgba(211,47,47,1) 52%, rgba(201,25,25,1) 54%, rgba(111,16,16,0.8) 100%);
		border: solid 1px rgba(#000, 0.8);
		box-shadow:
		inset 1px 2px 2px rgba(#fff, 0.5),
		inset -2px -2px 2px rgba(#000, 0.3),
		inset 0 0 12px rgba(#000, 0.5),
		0 3px 7px rgba(#000, 0.1),
		;
		text-shadow: 0 2px 3px rgba(#000, 0.8);
	}
}

// Modal
.uk-modal {
	backdrop-filter: blur(5px);
}
.uk-modal-dialog {
	border-radius: $global-radius-s;
	box-shadow: inset 0 0 0 10px #fff7f3, 0 6px 15px rgba(0,0,0,0.15);
	@media (min-width: $breakpoint-medium) {
		border-radius: $global-radius-m;
	}
}

// Cards
.uk-card {
	&.uk-card-default {
		border-radius: $global-radius-s;
		@media (min-width: $breakpoint-medium) {
			border-radius: $global-radius-m;
		}
	}
}
.card-character {
	position: relative;
	box-shadow: inset 0 0 0 10px #fff7f3, 0 4px 6px rgba(0,0,0, 0.2);
	user-select: none;
	border: solid 1px #767676;
	aspect-ratio: 5 / 7;
	
	height: 448px;
	.card-favor {
		position: absolute;
		top: -5px;
		left: -5px;
		text-align: right;
		border-radius: 100%;
		width: 40px;
		height: 40px;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $global-favor-base;
		box-shadow: inset 0 0 20px $global-favor-glow, 0 0 20px $global-favor-glow;
		border: solid 3px #fff;
		text-shadow: 0 2px 3px rgba(#000, 0.8);
		* {
			color: #fff;
			letter-spacing: -1px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 3px;
			left: 15px;
			width: 40%;
			height: 40%;
			border-radius: 50%;
			background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
			filter: blur(2px);
			z-index: 2;
		}
	}
	.card-art {
		background-color: $global-secondary-background;
		//background-image: url('@/assets/img/zeus.webp');
		background-size: cover;
		border-radius: $global-radius-s;
		@media (min-width: $breakpoint-medium) {
			border-radius: $global-radius-s;
		}
		img {
			//opacity: 0;
		}
	}
	.card-info {
		border-radius: $global-radius-s;
		@media (min-width: $breakpoint-medium) {
			border-radius: $global-radius-s;
		}
		.card-description {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;  
			overflow: hidden;
		}
	}
}

// Play
.uk-background-dark {
	background-color: #b7b1ad;
}
#PlayStage {
	user-select: none;
	height: calc(100vh - 80px);
	overflow: hidden;
	.player-area {
		position: relative;
		height: 50%;
		box-shadow: inset 0 0 30px rgba(#000, 0.5), 0 0 0 1px rgba(#000, 0);
		&:before {
			content: "";
			position: absolute;
			top: 10px;
			left: 10px;
			width: calc(100% - 22px);
			height: calc(100% - 22px);
			border-radius: 15px;
			border: 1px dotted #fff;
		}
		
		&.player-top {
			background-color: rgba($global-secondary-background, 0.5);
			.player-side-cards {
				.player-deck,
				.player-cementery {
					top: unset;
					bottom: 25px;
					transform: rotate(0deg);
				}
				.player-cementery {
					transform: rotate(1deg);
				}
			}
			.player-right {
				top: 30px;
				bottom: unset;
				.player-life-bar,
				.player-favor-bar {
					span {
						top: 0;
						&:before {
							top: unset;
							bottom: 0;
						}
					}
				}
			}
			.player-name {
				top: 140px;
				bottom: unset;
			}
			.player-counter {
				top: 30px;
				bottom: unset;
				align-items: flex-start;
			}
			.player-hand {
				top: -150px;
				height: fit-content;
				.player-hand-grid {
					.card-character {
						box-shadow: inset 0 0 0 10px #fff7f3, 0 2px 5px rgba(0,0,0, 0.2);
						background-color: $global-primary-background;

						&:nth-child(1) {
							transform: rotate(13deg);
						}
						&:nth-child(2) {
							transform: rotate(8deg) translateY(65px);
						}
						&:nth-child(3) {
							transform: rotate(4deg) translateY(100px);
						}
						&:nth-child(4) {
							transform: rotate(0deg) translateY(115px);
						}
						&:nth-child(5) {
							transform: rotate(-4deg) translateY(100px);
						}
						&:nth-child(6) {
							transform: rotate(-8deg) translateY(65px);
						}
						&:nth-child(7) {
							transform: rotate(-13deg);
						}
					}
				}
			}
		}
		&.player-bottom {
			.player-hand {
				.player-hand-grid {
					.card-character {
						&:hover {
							box-shadow: inset 0 0 0 10px #fff7f3, 0 7px 25px rgba(0,0,0,0.25);
							transform: scale(1.7) translateY(-280px);
							z-index: 1;
							margin-left: 0;
						}
					}
				}
			}
		}

		.player-side-cards {
			.player-deck,
			.player-cementery {
				padding: $global-small-gutter;
				width: 100px;
				height: 140px;
				position: absolute;
				top: 25px;
				right: 30px;
				border-radius: $global-radius-s;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: rotate(5deg);
				box-shadow: inset 0 0 0 3px #fff7f3, 0 2px 5px rgba(0,0,0, 0.2);
			}
			.player-cementery {
				transform: rotate(-5deg);
				left: 30px;
				right: unset;
			}
		}
		.player-name {
			margin: auto;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 200px;
			text-align: center;
		}
		.player-counter {
			position: absolute;
			left: 30px;
			bottom: 30px;
			display: flex;
			align-items: flex-end;

			.player-life-counter,
			.player-favor-counter {
				margin-left: auto;
				margin-right: auto;
				padding: $global-small-gutter;
				width: 150px;
				height: 150px;
				border-radius: 100%;
				background: #4b5c62;
				box-shadow: inset 0 0 20px rgba(#000, 0.5), 0 0 0 5px #dbb11d, 0 0 0 6px rgba(#000, 0.5), 0 5px 20px rgba(#000, 0.5);
				border: solid 1px rgba(#000, 0.5);
				overflow: hidden;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				* {
					color: #fff;
					text-shadow: 0 2px 4px rgba(#000, 0.5);
					letter-spacing: -1px;
					z-index: 1;
				}
				&:before {
					margin-left: auto;
					margin-right: auto;
					content: "";
					position: absolute;
					left: 7px;
					top: 8px;
					width: 60%;
					height: 40%;
					border-radius: 50%;
					background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
					filter: blur(3px);
					transform: rotate(-20deg);
					z-index: 2;
				}

				span {
					width: 100%;
					//height: 85%;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 0 0 100% 100%;
					background-color: $global-life-base;
					box-shadow: inset 0 -20px 20px $global-life-glow;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 1px;
						border-radius: 100%;
						background-color: #ff9c76;
						box-shadow: 0 0 5px 3px #ff4769;
					}
				}
			}
			.player-favor-counter {
				margin-left: 15px;
				width: 120px;
				height: 120px;
				background: #4b5c62;
				span {
					//height: 55%;
					background: $global-favor-base;
					box-shadow: inset 0 0 20px $global-favor-glow;
					&:before {
						background-color: #fff;
						box-shadow: 0 0 5px 3px $global-favor-glow;
					}
				}
			}
		}
		.end-turn {
			position: absolute;
			z-index: 9;
			top: -27.5px;
			right: 30px;			
		}
		.player-hand {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -100px;
			z-index: 2;

			.player-hand-grid {
				display: flex;
				justify-content: center;

				.card-character {
					margin-left: -7rem;
					box-shadow: inset 0 0 0 10px #fff7f3,  -10px 4px 20px rgba(0,0,0, 0.3);
					transition: ease 0.5s;
					transform: scale(1) translateY(0px);
					zoom: 0.5;
					transform-origin: 50% 50%;

					&:nth-child(1) {
						margin-left: 0;
						transform: rotate(-13deg);
					}
					&:nth-child(2) {
						transform: rotate(-8deg) translateY(-65px);
					}
					&:nth-child(3) {
						transform: rotate(-4deg) translateY(-100px);
					}
					&:nth-child(4) {
						transform: rotate(0deg) translateY(-120px);
					}
					&:nth-child(5) {
						transform: rotate(4deg) translateY(-100px);
					}
					&:nth-child(6) {
						transform: rotate(8deg) translateY(-65px);
					}
					&:nth-child(7) {
						transform: rotate(13deg);
					}
				}
			}
		}
	}
}
#modal-resultado {
	button {
		margin-bottom: -80px;
	}
	.card-name {
		margin: -19px auto 0 auto;
		padding: 0 30px;
		width: fit-content;
		background-color: #dbb11d;
		border-radius: 100px;
		font-size: 1.4rem;
		line-height: 1.2em;
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,0.5);
		border: solid 2px #a98815;
		position: relative;
		
	}
	.turn-result {
		.card-player-a {
			filter: grayscale(1);
			background-color: shade(#663399, 42%);
		}
		&.player-a-win {
			.card-player-a {
				filter: grayscale(0);
			}
			.card-player-b {
				filter: grayscale(1);
			}
		}
	}
}

#PlayBar {
	padding: $global-small-gutter;
	height: 70px;
	background-color: $card-default-background;
	box-shadow: 0 -5px 10px rgba(0,0,0,0.15);
	@media (min-width: $breakpoint-medium) {
		height: 95px;
	}

	.uk-progress {
		height: 30px;
		border: solid #fff 3px;
		box-shadow: 0 4px 10px rgba(0,0,0,0.30);
		transform: skewX(40deg);
		border-radius: 0;
		@media (min-width: $breakpoint-medium) {
			height: 50px;
		}
	}
	.uk-progress::-webkit-progress-bar {
		border-radius: 0;
	}
	.uk-progress::-webkit-progress-value {
		border-radius: 0;
		//background: $progress-bar-background;
	}
	.player {
		margin-top: -30px;
		@media (min-width: $breakpoint-medium) {
			margin-top: -50px;
		}
		.life-counter {
			padding: $global-small-gutter;
			width: 70px;
			height: 70px;
			border-radius: $global-radius-l;
			background-color: $global-primary-background;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			z-index: 1;
			border: solid #fff 5px;
			//box-shadow: inset 0 0 20px rgba(0,0,0,0.20), inset 0 0 0 1px rgba(0,0,0,1), 0 0 0 1px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,0.15);
			box-shadow: 0 4px 10px rgba(0,0,0,0.30);
			@media (max-width: $breakpoint-medium) {
				display: none;
			}
			* {
				color: #fff;
			}
		}
	}
}

// Deck
#DeckLayout {
	main {
		height: calc(100vh - 80px);
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}

// Academy
#CharacterSingle {
	
}